body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, rgb(3, 123, 34), rgb(1, 73, 6));

}
.pcentral{
    color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aquamarine;
    padding: 15px;
    border-radius: 20px;
    width: 20%;
}
fieldset{
    border: 3px solid rgb(1, 73, 6);
}
legend{
    border: 3px solid salmon;
    padding: 10px;
    text-align: center;
    background-color: black;
    border-radius: 8px;
}
#submit{
    color: rgb(187, 159, 159);
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    border: none;
}
p{
    font-size: 30px;
    color: slateblue ;
}
